{% extends 'base.html' %}


{% block title %} 报名记录 {% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static '/widget/css/mui.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/base.scss' %}" />
    <link rel="stylesheet" href="{% static '/css/personal_apply.scss' %}" />
{% endblock %}


{% block js %}{% endblock %}


{% block page %}
    <div class="views">
        <header id="header" class="mui-bar mui-bar-nav">
            <h1 class="mui-title">报名记录</h1>
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color-gray" href="/personal/user/"></a>
            <a class="mui-btn mui-btn-link mui-pull-right" style="color: #666;" href="">编辑</a>
        </header>

        <div class="mui-content">
            <ul class="apply-box">
                <li>
                    <a class="jump-link" href="javascript:;">
                        <div class="img-box">
                            <p><img src=""></p>
                        </div>

                        <div class="apply-box-detail">
                            <p class="describe">好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画</p>
                            <p class='intro'>
                                <span>老师 </span>
                                <span>1小时前</span>
                                <span class="comment">100</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="jump-link" href="javascript:;">
                        <div class="img-box">
                            <p><img src=""></p>
                        </div>

                        <div class="apply-box-detail">
                            <p class="describe">好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画</p>
                            <p class='intro'>
                                <span>老师 </span>
                                <span>1小时前</span>
                                <span class="comment">100</span>
                            </p>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="jump-link" href="javascript:;">
                        <div class="img-box">
                            <p><img src=""></p>
                        </div>

                        <div class="apply-box-detail">
                            <p class="describe">好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画</p>
                            <p class='intro'>
                                <span>老师 </span>
                                <span>1小时前</span>
                                <span class="comment">100</span>
                            </p>
                        </div>
                    </a>
                </li>
            </ul>

            <div class="no-data apply">
                无报名记录
            </div>
        </div>
    </div>
{% endblock %}


