{% extends 'base.html' %}


{% block title %} 账号管理 {% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static '/css/base.scss' %}" />
    <link rel="stylesheet" href="{% static '/widget/css/mui.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/personal_user.scss' %}"/>
{% endblock %}


{% block js %}
    <script src="{% static '/widget/js/mui.min.js' %}"></script>
    <script src="{% static '/js/vendor/jquery-2.2.3.min.js' %}"></script>
    <script src="{% static '/js/upload.js' %}"></script>
{% endblock %}


{% block page %}
<div class="views">
    <header id="header" class="mui-bar mui-bar-nav">
        <h1 class="mui-title">账号管理</h1>
        <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left color-gray" href="/personal/index/"></a>
    </header>

    <div class="mui-content">
        <form class="upload-form" action="/upload/images/" target="iframe-upload" method="post" enctype="multipart/form-data">
                <input type="file"
                       name="image"
                       id="upload-image"
                       accept="image/png, image/gif, image/jpeg, image/jpg;"
                       onchange="uploadImg();"  />
        </form>

        <div class="user">
            <ul>
                <li class="hr user-img-box">
                    <label for="upload-image" id="upload-labe">
                        <span class="user-title">头像</span>
                        <img class="user-img" src="{% static '/img/personal-head1.png' %}" alt=""/>
                    </label>
                </li>
                <li class="hr user-box">
                    <span class="user-title">昵称</span>
                    <span class="name-value user-val">好画好说</span>
                </li>
                <li class="user-box">
                    <span class="user-title">签名</span>
                    <span class="sign-value user-val">好画好说</span>
                </li>
            </ul>
        </div>

        <div class="user">
            <ul>
                <li class="hr user-box">
                    <span class="user-title">手机号</span>
                    <span class="phone-value user-val">1865555555</span>
                </li>
                <li class="user-box">
                    <a class="change-pwd" href="">修改密码</a>
                </li>
            </ul>
        </div>

        <a class="logout-btn" href="">退出登录</a>
    </div>
</div>
{% endblock %}


