{% extends 'base.html' %}


{% block title %} 报名记录 {% endblock %}


{% block css %}
    <link rel="stylesheet" href="{% static '/widget/css/mui.min.css' %}" />
    <link rel="stylesheet" href="{% static '/css/base.scss' %}" />
    <link rel="stylesheet" href="{% static '/css/news_index.scss' %}" />
{% endblock %}


{% block js %}
    <script type="text/javascript" src="{% static '/js/vendor/jquery-2.2.3.min.js' %}"></script>
{% endblock %}


{% block page %}
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
        <!--侧滑菜单部分-->
        <aside id="offCanvasSide" class="mui-off-canvas-left">
            <div id="offCanvasSideScroll" class="mui-scroll-wrapper">
                <div class="mui-scroll">
                    <a href="/personal/user/" class="personal-header">
                        <img class="personal-header-img" src="{% static '/img/personal-head1.png' %}">
                        <p class="personal-header-name">用户名甲</p>
                        <span class="narrow-r"></span>
                    </a>

                    <div class="personal-box">
                        <ul>
                            <li class="grayhr padding-t-10">
                                <a href="/personal/comment/" class="comment">我的评论</a>
                            </li>
                            <li class="margin-b-10">
                                <a href="/personal/collect/" class="collect">我的收藏</a>
                            </li>
                            <li class="grayhr  padding-t-10">
                                <a href="/personal/like/" class="like">我感兴趣</a>
                            </li>
                            <li class="margin-b-10">
                                <a href="/personal/join/" class="join">参加记录</a>
                            </li>
                            <li class="grayhr  padding-t-10">
                                <a href="/personal/apply/" class="apply">报名记录</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!--主界面部分-->
        <div class="mui-inner-wrap">
            <header class="mui-bar mui-bar-nav news-header">
                <a href="#offCanvasSide" class="header-img">
                    <img src="{% static '/img/personal-head1.png' %}" alt=""/>
                </a>
                <p>好画好说</p>
            </header>
            <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll">
                    <div class="mui-content-padded">

                        <div class="news-box-detail news-box-index">
                            <p class="describe">好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画</p>
                            <ul class="news-box-img2">
                                <li>
                                    <img src="http://banbao.chazidian.com/uploadfile/2016-01-25/s145368924044608.jpg" alt=""/>
                                </li>
                                <li>
                                    <img src="http://banbao.chazidian.com/uploadfile/2016-01-25/s145368924044608.jpg" alt=""/>
                                </li>
                                <li>
                                    <img src="http://banbao.chazidian.com/uploadfile/2016-01-25/s145368924044608.jpg" alt=""/>
                                </li>
                            </ul>
                            <p class='intro'>
                                <span>老师 </span>
                                <span>1小时前</span>
                                <span class="comment">100</span>
                                <span class="exclusive">独家</span>
                            </p>
                        </div>

                        <ul class="news-box">
                            <li>
                                <a class="jump-link" href="javascript:;">
                                    <div class="img-box">
                                        <p><img src=""></p>
                                    </div>

                                    <div class="news-box-detail">
                                        <p class="describe">好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画</p>
                                        <p class='intro'>
                                            <span>老师 </span>
                                            <span>1小时前</span>
                                            <span class="comment">100</span>
                                            <span class="exclusive">独家</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="jump-link" href="javascript:;">
                                    <div class="img-box">
                                        <p><img src=""></p>
                                    </div>

                                    <div class="news-box-detail">
                                        <p class="describe">好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画</p>
                                        <p class='intro'>
                                            <span>老师 </span>
                                            <span>1小时前</span>
                                            <span class="comment">100</span>
                                            <span class="exclusive">独家</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a class="jump-link" href="javascript:;">
                                    <div class="img-box">
                                        <p><img src=""></p>
                                    </div>

                                    <div class="news-box-detail">
                                        <p class="describe">好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画好说好画</p>
                                        <p class='intro'>
                                            <span>老师 </span>
                                            <span>1小时前</span>
                                            <span class="comment">100</span>
                                            <span class="exclusive">独家</span>
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
            {% include 'include/footer.html' %}
            <script type="text/javascript" src="{% static '/widget/js/mui.min.js' %}"></script>
            <script type="text/javascript" src="{% static '/js/news_index.js' %}"></script>
        </div>
    </div>

{% endblock %}


