syntax: glob
*~
*.swp
*.bak
*.orig
*.rej
*.pid
*.log
.svn
.git
.env*
*.egg-info
.DS_Store

public/bower_components
.sass-cache
.idea
public/.sass-cache
*.project

node_modules/
public/assets
public/stylesheet
reports
public/dist
hash/
public/uploads
.compass
env.json
assets
