@import "vars.scss";
@import "compass";

.mui-content {
    margin: 10px;
}

.tab-link {
    a {
        @include float-left();
        display: inline-block;
        width: 50%;
        border: 1px solid #fe0000;
        text-align: center;
        height: 35px;
        line-height: 35px;
        color: #666;
        &.active {
            background: #fe0000;
            color: #fff;
        }
    }
}
.tab-content {
    .tab-content-box {
        display: none;
        &.active {
            display: block;
        }
    }
}

