@import "vars.scss";
@import "compass";

.mui-content {
    margin: 20px 10px;
}

.tab-link {
    @include clearfix();
    margin-bottom: 15px;
    a {
        @include float-left();
        display: inline-block;
        width: 50%;
        border: 1px solid #fe0000;
        text-align: center;
        height: 35px;
        line-height: 35px;
        color: #666;
        &.active {
            background: #fe0000;
            color: #fff;
        }
    }
}
.tab-content {
    .tab-content-box {
        display: none;
        &.active {
            display: block;
        }
    }
}


/* login */
.control-group {
    @include clearfix();
    margin-bottom: 15px;
    input {
        border: none;
        border-bottom: 1px solid #ccc;
        margin: 0;
        padding: 0;
    }
    .error {
        color: red;
    }
}
.forget-pwd {
    @include float-right();
    color: #666;
    font-size: 13px;
}
input[type=submit] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fe0000;
}

.login-title {
    @include clearfix();
    height: 40px;
    line-height: 40px;
    margin: 10px 0;
    span {
        width: 100%;
        height: 1px;
        display: block;
        background: #ccc;
        margin-top: 20px;
    }
    p {
        width: 120px;
        height: 40px;
        line-height: 40px;
        margin: 0 auto;
        background: #fff;
        margin-top: -20px;
        text-align: center;
    }
}

.login-type {
    display: block;
    width:230px;
    margin: 0 auto;
    overflow: hidden;
    div {
        width: 240px;
    }
    a {
        display: block;
        width: 70px;
        height: 70px;
        @include float-left();
        margin-right: 10px;
    }
    .qq {
        background: url("../img/share1-qq.png") no-repeat;
        background-size: cover;
    }
    .sina {
        background: url("../img/share1-sina.png") no-repeat;
        background-size: cover;
    }
    .weixin {
        background: url("../img/share1-weixin.png") no-repeat;
        background-size: cover;
    }
}

/* register */
.change-phone {
    @include clearfix();
    border-bottom: 1px solid #ccc;
    background: #fff;

    .mui-input-row {
        width: 70%;
        @include float-left();
    }
    input[type=text] {
        border: none;
        padding: 0;
        margin: 0;
    }
    a {
        @include float-right();
        color: #666;
        width: 30%;
        height: 40px;
        line-height: 40px;
        text-align: right;
    }
}
.agreement {
    text-align: center;
    a {
        color: #fe0000;
    }
}



