@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";


body {
    background: #f7f7f7;
}
.views,
#header {
    max-width: 640px;
    margin: 0 auto;
}


.margin-b-10 {
    margin-bottom: 20px;
}
.hr {
    border-bottom: 1px solid #eee;
}
.color-gray {
    color: #333;
}
