@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";


body {
    background: #fff;
}
.views,
#header {
    max-width: 640px;
    margin: 0 auto;
}
.mui-content {
    background: #fff;
}


.margin-b-10 {
    margin-bottom: 20px;
}
.padding-t-10{
   padding-top: 20px;
}
.hr {
    border-bottom: 1px solid #eee;
}
.color-gray {
    color: #333;
}
.width-100 {
    width: 100%;
}
.align-center {
    text-align: center;
}
