@import "compass/css3";
@import "compass/utilities";
@import "footer";
@import "slide";


.news-box-img2 {
    width: 100%;
    overflow: hidden;
    li {
        @include float-left();
        width: 33.33333%;
    }
    img {
        display: block;
        background: #eee;
        width: 93%;
    }
}

.news-box {
    margin: 0 10px;
    margin-bottom: 70px;

    li {
        @include clearfix();
        border-bottom: 1px solid #eee;
        padding: 20px 0;
    }

    .jump-link {
        display: inline-block;
    }
}

.img-box {
    @include float-left();

    p {
        display: table-cell;
        width: 110px;
        height: 75px;
        vertical-align: middle;
        background: #eee;
    }

    img {
        max-width: 110px;
        max-height: 75px;
        text-align: center;
    }
}

.news-box-detail {
    margin-left: 120px;

    &.news-box-index {
        margin: 50px 10px 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
    }

    .describe {
        height: 40px;
        line-height: 20px;
        overflow: hidden;
    }

    .intro {
        margin-top: 15px;
        font-size: 14px;
    }

    .comment {
        background: url("../img/comment-icon.png") no-repeat left center;
        background-size: 30px 25px;
        padding-left: 30px;
        margin-left: 20px;
    }

    .exclusive {
        @include float-right();
        border: 1px solid #eee;
        color: #f52200;
        padding: 2px 5px;
        font-size: 13px;
        margin-top: -3px;
    }
}
