@import "compass/css3";
@import "compass/utilities";


.mui-off-canvas-left {
    color: #fff;
}

.mui-content {
    overflow-y: auto;
}
.news-box-img {
    width: 120%;
    overflow: hidden;
    .img-box {
        @include float-left();
        margin-right: 2px;
    }
}

.news-header {
    height: 70px;
    line-height: 70px;
    font-weight: bold;
    background: #f52200;
    position: relative;
    text-align: center;
    font-size: 25px;

    .header-img {
        position: absolute;
        width: 70px;
        height: 70px;
        left: 0;
        top: 0;
    }
    img {
        @include border-radius(50%);
        width: 50px;
        margin-top: 10px;
        background: #f3f4f6;
    }

    p {
        color: #fff;
    }
}
.news-box {
    margin: 0 10px;

    li {
        @include clearfix();
        border-bottom: 1px solid #eee;
        padding: 20px 0;
    }

    .jump-link {
        display: inline-block;
    }
}

.img-box {
    @include float-left();

    p {
        display: table-cell;
        width: 110px;
        height: 75px;
        vertical-align: middle;
        background: #eee;
    }

    img {
        max-width: 110px;
        max-height: 75px;
        text-align: center;
    }
}

.news-box-detail {
    margin-left: 120px;

    &.news-box-index {
        margin: 50px 10px 0;
        border-bottom: 1px solid #eee;
        padding-bottom: 20px;
    }

    .describe {
        height: 40px;
        line-height: 20px;
        overflow: hidden;
    }

    .intro {
        margin-top: 15px;
        font-size: 14px;
    }

    .comment {
        background: url("../img/comment-icon.png") no-repeat left center;
        background-size: 30px 25px;
        padding-left: 30px;
        margin-left: 20px;
    }

    .exclusive {
        @include float-right();
        border: 1px solid #eee;
        color: #f52200;
        padding: 2px 5px;
        font-size: 13px;
        margin-top: -3px;
    }
}
