@import "compass/css3";
@import "compass/utilities";


.like-box {
    margin: 0 10px;

    li {
        @include clearfix();
        border-bottom: 1px solid #eee;
        padding: 20px 0;
    }

    .jump-link {
        display: inline-block;
        width: 100%;
    }
}

.img-box {
    @include float-left();

    p {
        display: table-cell;
        width: 140px;
        height: 110px;
        vertical-align: middle;
        background: #eee;
    }

    img {
        max-width: 140px;
        max-height: 110px;
        text-align: center;
    }
}

.like-box-detail {
    margin-left: 150px;

    p {
        margin-bottom: 9px;
    }
    .tag {
        font-size: 12px;
    }
    .price,
    .address,
    .time {
        font-size: 15px;
    }
}

.like-box-bottom {
    color: #666;
    .start {
        @include float-left();
        margin-top: 5px;
    }
    .part {
        @include float-right();
        background: #eee;
        padding-right: 5px;

        span {
            padding-left: 20px;
            height: 25px;
            line-height: 25px;
        }
    }

    .join {
        background: url("../img/logo-persion.png") no-repeat;
        background-size: 20px auto;
        margin-right: 10px;
    }
    .like {
        background: url("../img/logo-like.png") no-repeat;
        background-size: 20px auto;
    }
}

.no-data {
    margin-top: 80px;
    text-align: center;
    padding-top: 90px;

    &.like {
        background: url("../img/icon-like.png") no-repeat center top;
        background-size: auto 80px;
    }
}
