@import "compass/css3";
@import "compass/utilities";



.user {
    @include clearfix();
    background: #fff;
    margin: 20px 0 10px;
    ul {
        margin: 0 10px;
    }
    li {
        @include clearfix();
        text-align: left;
        background: url("../img/narror-r.png") no-repeat right center;
        background-size: 15px auto;
        margin-top: 2px;
        padding-bottom: 2px;
    }
    &-box {
        color: #333;
        height: 40px;
        line-height: 40px;
        display: block;
    }

    &-img-box {
        color: #333;
        height: 60px;
        line-height: 60px;
        display: block;
    }

    &-img {
        @include border-radius(50%);
        @include float-right();
        margin-right: 20px;
        margin-top: 5px;
        width: 50px;
        border: 2px solid #fb9e8f;
        display: inline-block;
        background-size: cover;
        background: #f3f4f6;
    }

    &-title {
        @include float-left();
    }
    &-val {
        @include float-right();
        margin-right: 20px;
    }
    .change-pwd {
        display: block;
        color: #333;
    }
}

.logout-btn {
    display: block;
    height: 40px;
    line-height: 40px;
    margin: 20px 0 10px;
    text-align: center;
    color: red;
    font-size: 16px;
    background: #fff;
}

/* 上传头像 */
.upload-form {
    visibility: hidden;
    height: 0;
    padding: 0;
    margin: 0;
}
#upload-label {
    display: inline-block;
    width: 100%;
}
